<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="temperatureSampler" class="com.borabora.arduino.TemperatureSampler" scope="singleton" init-method="sample" />
    <bean name="temperatureDAO" class="com.borabora.arduino.sik.temperature.TemperatureDAO" scope="singleton">
        <property name="temperatureSampler" ref="temperatureSampler"></property>
    </bean>
</beans>